MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_FROM_EMAIL=noreply@ceapargentina.com
MAILJET_FROM_NAME=CEAP Argentina
LEAD_INBOX_EMAIL=ceapargentina@proton.me
MAILJET_REPLY_TO_EMAIL=ceapargentina@proton.me
MAILJET_REPLY_TO_NAME=CEAP Argentina
MAILJET_EVENTS_SECRET=
